@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>(0535) 271 2708</p>

        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>Bursa - Balıkesir</p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>osmankilic10@gmail.com</p>
    </div>
</div>

